<!DOCTYPE html>
<html lang="en">
<head>
  <title>React Sample app | DeltaBlue.Cloud</title>
  <!-- Scripts and styles here -->
</head>
<body class="container">

  <header>
    <h1>Hello World App</h1>
  </header>

  <section id="content"><%- content %></section>

  <footer>
    <p>More info: <a href="https://delta.blue/blog/deploy-run-nodejs-application-tutorial">How to deploy a NodeJS application</a> on DeltaBlue.cloud</a></p>
  </footer>

  <!-- Include our bundled JS -->
  <script src="/js/bundle.js"></script>
</body>
</html>
